<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link data-trunk rel="rust" href="crates/client/Cargo.toml" data-bin="{{project-name}}-client" />
    <!--%STELLATION_HEAD%-->
</head>

<body>
    <!--%STELLATION_BODY%-->
</body>

</html>
