html,
body {
    margin: 0;
    padding: 0;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: rgb(50, 50, 50);
        color: white;
    }
}

.container {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2rem;
    line-height: 1.5em;
}

.greeting-container {
    padding-top: 2rem;
    max-width: 300px;
    width: calc(100% - 20px);
}

.greeting-input {
    width: 100%;
    height: 40px;

    display: block;
    box-sizing: border-box;

    border-radius: 8px;

    background-color: rgb(230, 226, 245);
    color: rgb(0, 0, 0);

    border: 0;
    outline: 0;
    padding-left: 1rem;
    padding-right: 1rem;

    font-size: 1rem;

    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-moz-placeholder,
    &:-ms-input-placeholder {
        color: rgb(206, 206, 206);
    }
}


.greeting-button {
    width: 100%;
    height: 40px;

    margin: 0;
    padding: 0;
    margin-top: 1rem;

    display: block;

    border-radius: 8px;

    background-color: rgb(132, 112, 198);
    color: white;
    border: 0;

    cursor: pointer;

    font-size: 1rem;
    font-weight: bold;
}

.greeting-message {
    padding-top: 1rem;
    height: 2rem;
    box-sizing: border-box;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    .greeting-input {
        background-color: rgb(87, 86, 91);
        color: white;


        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-moz-placeholder,
        &:-ms-input-placeholder {
            color: rgb(181, 181, 181);
        }
    }

    .greeting-button {
        background-color: rgb(95, 76, 159);
    }
}
